html {
	background: ##F97819;
	margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100vw;
}

#cont {
	display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: center;
    margin: 10vh auto;
    justify-content: space-evenly;
}

#cont * {
	color: white;
    font-family: system-ui;
}

button, input {
    height: 4em!important;
    background-color: black;
    border-radius: 2em;
    border: 1px solid black;
    padding: 1em 3em;
}

h2 {
	font-size: 3em;
}

b {
	margin-top: 16px;
	font-size: 1.5em;
}
